@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800;900&display=swap');

*,*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --Light-red: rgb(255, 87, 87);
    --Orangey-yellow: #ffb01f;
    --Green-teal: #00bd91;
    --Cobalt-blue: rgb(17, 37, 212);

    --Light-slate-blue: #7857ff;
    --Light-royal-blue: #2e2be9;

    --Violet-blue: #4e21ca;
    --Persian-blue: #2421ca00;
 
    --White: hsl(0, 0%, 100%);
    --Pale-blue: #ebf1ff;
    --Light-lavender: #c8c7ff;
    --Dark-gray-blue: #303b5a;
}
body{
   
   width:100%;
   min-height: 100vh;
   font-family: 'Hanken Grotesk', sans-serif;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap:50px;
}
#card{
    display: grid;
    grid-template-columns: repeat(2,320px);
    grid-template-rows: 470px;
    background-color:var(--White);
    overflow: hidden;
    border-radius:30px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0,0.1);
    
}
.card-perc{
    border-radius:inherit;
    background:linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding:40px  30px;
    gap:25px;
}
.card-head-text{
    font-size: 1.3rem;
    color:var(--Light-lavender);
    font-weight: 700;
}
.card-score-box{
    width:170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(var(--Violet-blue),var(--Persian-blue)) ;
}
.card-score{
    font-size: 4rem;
    color:var(--Pale-blue);
}
.card-total{
    font-size: 1.3rem;
    color:var(--Pale-blue);
}
.card-comment{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.card-performance{
    color:var(--Pale-blue);
    font-size: 1.7rem;
}
.card-compare{
    font-size: 0.95rem;
    text-align: center;
    padding: 0 10px;
    color:var(--Light-lavender);
}

/*Second frame*/

.card-summary{
   display:flex;
   flex-direction: column;
   gap:30px;
   padding:30px;
}
#list{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.card-topic{
    
    height:50px;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.card-topic>div{
    display: flex;
    gap:5px;
}
.card-topic:nth-child(1)
{
  background-color:rgb(255, 87, 87,0.07);
}
.card-topic:nth-child(2)
{
  background-color:rgb(255, 176, 31,0.07);
}
.card-topic:nth-child(3)
{
  background-color: rgb(0, 189, 145,0.07);
}
.card-topic:nth-child(4)
{
  background-color:rgb(17, 37, 212,0.07);
}
.card-topic:nth-child(1) h3{
    color:var(--Light-red);
}
.card-topic:nth-child(2) h3{
    color:var(--Orangey-yellow);
}
.card-topic:nth-child(3) h3{
    color:var(--Green-teal);
}
.card-topic:nth-child(4) h3{
    color:var(--Violet-blue);
}
 .card-summary>h3{
    font-size: 1.5rem;
   } 

.card-summary__button{
    border:0;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding: 15px 0;
    border-radius: 20px;
   background-color: var(--Dark-gray-blue);
    color:var(--Pale-blue);
    cursor: pointer;
}
.marks{
    color:var(--Dark-gray-blue);
}
.total{
    color:rgb(48, 59, 90,0.5);
    font-weight: 800;
}
.card-summary__button:hover{
    background: linear-gradient(180deg,var(--Light-slate-blue),var(--Light-royal-blue));
}
@media screen and (max-width:650px) 
{
   
    #card
    {  width:100%;
        height: 100%;
        border-top-right-radius:0;
        border-top-left-radius: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 45% 50%;
    }
    .card-perc{
        padding: 20px 40px;
         gap:25px;
    }
    .card-head-text{
        font-size: 1.5rem;
    }
    .card-score-box{
        width:160px;
        height: 160px;
    }
    .card-score{
        font-size: 3.5rem;
    }
    .card-total{
        font-size: 1.1rem;
    }
    .card-performance{
        font-size: 1.5rem;
    }
    .card-compare{
        font-size: 1rem;
    }
    #list{
        gap:15px;    
    }
    .card-topic>div{
        display: flex;
        gap:18px;
    }  
}
@media screen and (max-width:280px) 
{
    .card-perc{
        padding: 10px 30px;
         gap:25px;
    }
    .card-score-box{
        width:140px;
        height: 140px;
    }
    .card-score{
        font-size: 3rem;
    }
    .card-total{
        font-size: 1rem;
    }
    .card-performance{
        font-size: 1rem;
    }
    .card-compare{
        font-size: 0.9rem;
    }
    .card-topic{
        width:200px;
        font-size: 15px;
        height: 40px;
    }
    .card-summary__button
    {
        width:200px;
        height:45px;
        padding: 10px;
    }
}